body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.links{
  text-decoration: none;
  color: rgb(0, 5, 54);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  /* margin-left: 1rem; */
  padding-bottom: .5rem;
  font-weight: 600;
}

body::-webkit-scrollbar {
  width: 1em;
}
 
body::-webkit-scrollbar-track {
  background-color: rgb(255, 255, 255);
}
 
body::-webkit-scrollbar-thumb {
  background-color: rgb(3, 7, 46);
}

.links:hover{
  color: rgb(71, 0, 151);
  text-align: center;
}
.logoSize{
  height: 2.5rem;
  border-radius: 50%;
  margin-right: .5rem;
}

.ongoing{
  width: .8rem;
  height: .8rem;
  border-radius: 50%;
  background-color: rgb(0, 202, 0);
  animation: blink 1s ease-in infinite;
  position: relative;
  top: -12px;
  left: -17px;
}

.upcoming{
  width: .8rem;
  height: .8rem;
  border-radius: 50%;
  background-color: rgb(245, 180, 0);
  animation: blinkred 1s ease-in infinite;
  position: relative;
  top: -12px;
  left: -17px;
}

@keyframes blink{
  50%{
    box-shadow: 0px 0px 5px rgb(189, 138, 0) ;
    transform: scale(1.05);
  }
}

@keyframes blinkred{
  50%{
    box-shadow: 0px 0px 5px rgb(137, 139, 3) ;
    transform: scale(1.05);
  }
}

.cardHeader{
  display: flex;
  align-items: center;
  justify-content: center;
}

nav{
  box-shadow: 0px 2px 7px rgb(0, 132, 255);
}


.dataCards{
  margin-bottom: 4rem;
  
  box-shadow: 0px 5px 12px rgb(0, 132, 255);

}
.myButton{
  box-shadow: 0px 0px 15px rgba(0, 132, 255, 0.719);
}

.footer{
  position: fixed;
  width: 100%;
  bottom: 0px;
  right: 0;
  height: 3rem;
  color: rgb(0, 4, 17);
  background-color: white;
  box-shadow: 2px 0px 7px rgb(0, 132, 255);
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  

}

.footerButton{
  margin-right: 2rem;
  margin-left: 2rem;
}
.footerButton a:active{
  color: red;
}
.footerButton a{
  color: rgb(10, 33, 70);
  font-size: 1.5rem;
  text-decoration: none;
}
.footerButton a p{
  font-size: .8rem;
  line-height: .1rem;
  
}


@media only screen and (min-width: 800px) {
  .footer{
    height: 4rem;
    width: 100%;
  }
  .footerButton a{
    font-size: 2.2rem;
  }

.footerButton{
  margin: 7rem;
}
}


.visitProfile{
  text-decoration: none;
  color: rgb(0, 0, 32);
}


.stars{
  color: rgb(255, 123, 0);
  font-size: 1.5rem;
}

.aboutCard{
  box-shadow: 0px 0px 20px rgb(0, 132, 255);
}
.animation{
  position: absolute;
  left: 50%;
}
.head {
  position: relative;
  top: 50vh;
  left: -50%;
  z-index: 999;
  margin: 0;
  padding: 0;
  font-family: ‘Arial Narrow’, sans-serif;
  font-weight: 100;
  font-size: 1.1em;
  color: #a3e1f0;
}

.span { 
  
  text-transform: uppercase;  
  opacity: 0;
  transform: rotateX(-90deg);
}

.let1 {
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: .2s;
}

.let2 {
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: .3s;
}

.let3 {
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: .4s;
}

.let4 {
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: .5s;

}

.let5 {
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: .6s;
}

.let6 {
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: .7s;
}

.let7 {
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: .8s;
}

@keyframes drop {
    10% {
        opacity: 0.5;
    }
    20% {
        opacity: 1;
        top: 3.78em;
        transform: rotateX(-360deg);
    }
    80% {
        opacity: 1;
        top: 3.78em;
        transform: rotateX(-360deg);
    }
    90% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
        top: 6.94em
    }
}