*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all .2s linear;
}
/* Cards */
.card{
  
  width: 80%;
  margin: auto;
  box-shadow: 0px 2px 3px black;
  border-radius: 1rem;
  padding: 1rem;
  background-color: rgb(244, 244, 244);
}
.innercard{
  background-color: rgb(227, 227, 227);
  padding: 0.5rem;
  border-radius: 1rem;
}
.card:hover{
  box-shadow: 0px 3px 6px black;
}
.cardButton{
  margin-top: 2rem;
  background-color: rgb(255, 204, 0);
  color: rgb(0, 0, 0);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .2rem;
  padding-bottom: .2rem;
  text-decoration: none;
  border-radius: .5rem;
  margin-left: 1rem;
}
.cardButton:hover{
  background-color: rgba(255, 174, 0, 0.904);
  
}
.cardButtons{
  display: flex;
  justify-content: center;
}
/* Cards end*/